
#image {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.ui.inverted.dimmer{
  background-color: white !important;
}

.FullScreen{
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.8);
  align-self: center;
  flex: 0 0 auto;
  max-height: 95vh;
  position: absolute;
}

.FullScreenLoading{
  align-self: center;
  flex: 0 0 auto;
  max-height: 95vh;
  position: absolute;
}

.close{
  position: relative;
  width: 200% !important;
  top: -11px;
  left: 0;
  height: 0 !important;
  z-index: 10;
}
